<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ingredient Form</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <style>
    .form-box {
      border: 1px solid #ccc;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .form-control[readonly] {
        background-color: #e9ecef;
        opacity: 1;
      }
      body {
        padding-top: 20px; /* Adjust this value if needed */
        font-size: 0.7rem;
        background-color:#F0F0F0 ;
      }
      .navbar {
        font-size: 0.9rem;
        height: 56px; /* Adjust based on the height of your navbar */
      }
      .sidebar {
    position: fixed;
        top: 56px; /* Adjust this value if the navbar height changes */
        bottom: 0;
        left: 0;
        width: 220px;
        padding-top: 1rem; /* Adjust padding to match the top padding of the main content */
        background-color: #343a40; /* Bootstrap bg-dark color */
        color: white;
        overflow-y: auto;
      }
      .sidebar a {
        color: white;
        text-decoration: none;
      }
      .sidebar a:hover {
        color: #adb5bd;
      }
      .main-content {
        margin-left: 250px;
        padding: 60px 10px 10px;
      }
  </style>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/admin-dashboard">
        <img
          src="https://sangamgroup.com/wp-content/uploads/2023/01/sangam_group_logo.png"
          alt="Logo"
          width="60"
          height="50"
        />
        Sangam India Limited
      </a>
      <a href="/view_ingredients_master" class=" nav-link" style="color: white;">View Ingredient Item Master List</a>
   
  </nav>

  <div class="sidebar">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a href="/requirement_form" class="nav-link">Add Requirement</a>
      </li>
      <li class="nav-item">
        <a href="/view-today-entries" class="nav-link">Today Entries</a>
      </li>
      <li class="nav-item">
        <a href="/ingredients_master" class="nav-link"
          >Add Item In Ingredient Master</a
        >
      </li>
      <li class="nav-item">
        <a href="/item-list" class="nav-link">Add Item In Menu Master</a>
      </li>
      <li class="nav-item">
        <a href="/detail-item-form" class="nav-link">Create BOM</a>
      </li>
      <li class="nav-item">
        <a href="/ingredient_inward_form" class="nav-link"
          >Ingredient Inwards Entry</a
        >
      </li>
      <li class="nav-item">
        <a href="/ingredient_outward" class="nav-link"
          >Ingredient Outward Entry</a
        >
      </li>
      <li class="nav-item">
        <a href="/view_stock" class="nav-link">View Stock</a>
      </li>
      <li class="nav-item">
        <a href="/add-new-employee" class="nav-link">Add Employee</a>
      </li>
      <li class="nav-item">
        <a href="/view-users" class="nav-link">Total Employees</a>
      </li>
      <li class="nav-item">
        <a href="/rate-list" class="nav-link">Add Menu</a>
      </li>
      <li class="nav-item">
        <a href="/view-rate-list" class="nav-link">View Menu</a>
      </li>
      <li class="nav-item">
        <a href="/admin-logout" class="nav-link">Logout</a>
      </li>
     
    </ul>
</div>
<div class="main-content">
  <div class="container mt-5">
    <!-- <div class="d-flex justify-content-center mb-4">
        <a href="/admin-dashboard" class="btn btn-success mx-1">Home</a>
        <a href="/view_ingredients_master" class="btn btn-info mx-1">View Ingredient Item Master List</a>
    </div> -->
    <div class="form-box">
      <h3>Ingredient Details Form</h3>
      <form id="ingredientForm" method="POST" action="/ingredients_master">
        <div class="form-row">
          <div class="form-group col-md-2">
            <label for="ingredient_item_code">Ingredient Item Code</label>
            <input type="text" class="form-control" id="ingredient_item_code" name="ingredient_item_code" required>
          </div>
          <div class="form-group col-md-4">
            <label for="ingredient_item_description">Ingredient Item Description</label>
            <input type="text" class="form-control" id="ingredient_item_description" name="ingredient_item_description" required>
          </div>
          <div class="form-group col-md-2">
            <label for="uom" class="required">UOM</label>
            <select class="form-control" id="uom" name="uom" required>
              <option value="" disabled selected>Select UOM</option>
              <option value="KG">KG</option>
              <option value="L">L</option>
              <option value="NO">NOs</option>
              <!-- Add more options as needed -->
            </select>
          </div>
          <div class="form-group col-md-2">
            <label for="ingredient_item_type" class="required">Item Type</label>
            <select class="form-control" id="ingredient_item_type" name="ingredient_item_type" required>
              <option value="" disabled selected>Select Type</option>
              <option value="GROCERIES">GROCERY</option>
              <option value="SAUCES">SAUCES</option>
              <option value="FROZEN OR DIARY PRODUCT">FROZEN & DIARY PRODUCT</option>
              <option value="BAKERY">BAKERY</option>
              <option value="VEGETABLE">VEGETABLE</option>
              <!-- Add more options as needed -->
            </select>
          </div>
          <div class="form-group col-md-2">
            <label for="opening_balance_quantity">Opening Qty (in KG)</label>
            <input type="decimal" class="form-control" id="opening_balance_quantity" name="opening_balance_quantity" required>
          </div>
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
  <!-- Bootstrap JS and dependencies (if needed) -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

  <script>
    document.getElementById('ingredient_item_code').addEventListener('input', function() {
        this.value = this.value.toUpperCase();
    });
  </script>
  <script>
    document.getElementById('ingredient_item_description').addEventListener('input', function() {
        this.value = this.value.toUpperCase();
    });
  </script>
  <script>
    document.getElementById('uom').addEventListener('input', function() {
        this.value = this.value.toUpperCase();
    });
  </script>
   <script>
    document.getElementById('ingredient_item_type').addEventListener('input', function() {
        this.value = this.value.toUpperCase();
    });
  </script>
</body>
</html>
