<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CAFÉ SANGAM Operational Policy</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <style>
          .custom-table .even-row {
            background-color: #b6d4ee;
        }
        .custom-table .odd-row {
            background-color: #f7d0ea;
        }
        .form-control[readonly] {
            background-color: #e9ecef;
            opacity: 1;
        }
        body {
            font-size: 0.7rem;
            background-color: #F0F0F0;
        }
        .navbar {
            font-size: 0.9rem;
            height: 56px;
        }
        .sidebar {
            position: fixed;
            top: 56px;
            bottom: 0;
            left: 0;
            width: 180px;
            padding-top: 1rem;
            background-color: #343a40;
            color: white;
            overflow-y: auto;
        }
        .sidebar a {
            color: white;
            text-decoration: none;
        }
        .sidebar a:hover {
            color: #adb5bd;
        }
        .main-content {
            margin-left: 210px;
            padding: 50px 10px 10px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="/dashboard">
            <img
              src="https://sangamgroup.com/wp-content/uploads/2023/01/sangam_group_logo.png"
              alt="Logo"
              width="60"
              height="50"
            />
            Sangam India Limited
          </a>
       
      </nav>
  
      <div class="sidebar">
        <ul class="nav flex-column">
            <li class="nav-item"><a href="/termsandconditions" class="nav-link">Terms And Conditions</a></li>
            <li class="nav-item"><a href="/view-menu" class="nav-link">View Menu</a></li>
            <li class="nav-item"><a href="/logout" class="nav-link">Logout</a></li> 
        </ul>
  </div>
  <div class="main-content">
    <div class="container mt-5">
        <h1>CAFÉ SANGAM Operational Policy</h1>
        <div class="section">
            <h3>Operation: Food and Beverage Service</h3>
            <p><strong>Part Number/Name:</strong> Procedure details - How to operate Café operation</p>
        </div>
        <div class="section">
            <h3>Safety Tools/Clothing</h3>
            <ul>
                <li>Protective Clothing</li>
                <li>Safety Shoes</li>
                <li>Hair Net</li>
                <li>Mask must be worn by all persons entering service areas.</li>
            </ul>
        </div>
        <div class="section">
            <h3>Tools/Equipment</h3>
            <ul>
                <li>Table Top</li>
                <li>Crockeries</li>
                <li>Cutleries</li>
                <li>Chafing Dish</li>
                <li>Service Gear</li>
            </ul>
        </div>
        <div class="section">
            <h3>Main Operating Steps</h3>
            <ul>
                <li><strong>Time of Operation:</strong> The café operates from 9:30 AM to 5 PM daily.</li>
                <li><strong>All Day Dining:</strong> All day dining service is available from 9:30 AM to 5 PM, except during Lunch operation which is from 12 NOON to 2 PM.</li>
                <li><strong>Buffet Lunch:</strong> Buffet lunch is served specifically from 1 PM to 2 PM.</li>
                <li><strong>Self Service Counter:</strong> Available for convenience during operational hours.</li>
                <li><strong>Punching Machine for Buffet Lunch:</strong> Staff interested in enjoying the buffet lunch must punch in using the designated machine. The cost will be deducted from their salary based on daily punching.</li>
                <li><strong>Coupon System for All Day Dining:</strong> Administration personnel will distribute coupons for all day dining.</li>
                <li><strong>Regular Consumers:</strong> Employees opting for the buffet regularly will be charged Rs. 1200/- Monthly, deducted monthly from their salary.</li>
                <li><strong>Occasional Consumers:</strong> Employees opting for the lunch buffet occasionally will be charged Rs. 50/- per day, payable online via G-Pay, Phone Pay, or Paytm.</li>
                <li><strong>Advance Registration for Buffet:</strong> Staff must register online by Café SANGAM by 10:30 AM every day for the buffet lunch, if anyone wants to take food without information it will be served subject to availability of food.</li>
                <li><strong>Guest and New Joiners:</strong> The respective department HOD must register through online registration before availing the buffet lunch before 10:30 AM subject to the availability of food.</li>
                <li><strong>Order Placement for All Day Dining:</strong> Orders for all day dining must be placed at least 30 minutes in advance. Bulk order must be placed before 10:30 AM.</li>
                <li><strong>Payment Policy:</strong> No credit facility is available. Food will only be served upon payment.</li>
                <li><strong>Online Payment:</strong> An online payment barcode must be displayed at the counter. Employees will scan the code to make their payments.</li>
                <li><strong>Payment Methods:</strong> Payment for all day dining can be made using G-Pay, Phone Pay, or PAYTM. Food will only be served after payment.</li>
                <li><strong>Food Preparation and Delivery:</strong> Staff will present their coupon and payment confirmation at the counter. The kitchen will prepare the food and hand it over to the staff directly.</li>
                <li><strong>Sharing of Food is not allowed:</strong> No employee is allowed to share the food from the Plate while enjoying Buffet Lunch, if anyone found doing that She/he will be charged 200 Rs/-.</li>
                <li><strong>Guest Entertainment:</strong> No food will be served in office premises, everyone has to come in Cafeteria.</li>
                <li><strong>Website Link:</strong> <a href="http://172.16.0.89:3000/login">http://172.16.0.89:3000/login</a><br>
                Employees can login via below details.<br>
                <strong>Employee Code - ____________</strong><br>
                <strong>Password- DOJ of employee (Ex- DDMMYYYY)</strong><br>
                This link is help to open the SANGAM HOUSE CAFÉ APPLICATION.</li>
            </ul>
        </div>
        <div class="section note">
            <p>This policy outlines the operational procedures for “SANGAM HOUSE CAFÉ” to ensure smooth functioning and employee awareness of facilities available at the café. All employees are expected to adhere to these guidelines for seamless service and compliance with café regulations.</p>
        </div>
    </div>
</div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
